footer {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #e8e8e8;
    bottom: 0;
    transition: all .5s ease;
}

.controles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 70px;
}

.btn-control {
    border: none;
    color: #545454;
    letter-spacing: 6px;
    font-size: 14px;
    background: none;
    cursor: pointer;
    line-height: 70px;
    transition: all .3s ease;
}

.btn-control:hover {
    font-weight: bold;
    letter-spacing: 7px;
}

.div-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-control svg {
    line-height: 100px;
}

.contador-paginas {
    display: none;
}